body {
    margin: 0;
}

img {
    width: 100%;
}

/***************Menu*************/

/* unvisited link */
header nav a:link {
    font-family: trasandina, sans-serif;
    color: #ffe9ad;
    font-style: normal;
    text-transform: uppercase;
}

/* visited link */
header nav a:visited {
    color: #faf2da;
}

/* mouse over link */
header nav a:hover {
    color: #ffb076;
}

/* selected link */
header nav a:active {
    color: #ff7056;
}

header {
    position: fixed;
    width: 100%;
    background-image: url(bg-wood.jpg);
}

header nav {
    display: flex;
    flex-direction: row;
}

header nav a {
    text-decoration: none;
    font-family: ;
    font-size: 2rem;
    padding: 0.5rem;
}

#space_nav {
    height: 4rem;
}

/***************Menu slut*************/

/***************font Start*************/

h1 {
    font-size: 3rem;
    font-family: mencken-std-narrow, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #333;
    text-transform: uppercase;
    padding-left: 2rem;
    margin: 10px 0 0 0;
    letter-spacing: 2px;
}

h2 {
    font-size: 2rem;
    font-family: mencken-std-narrow, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #333;
    text-transform: uppercase;
    padding-left: 1rem;
    letter-spacing: 1px;
}

p {
    font-size: 1rem;
    font-family: trasandina, sans-serif;
    font-weight: 300;
    font-style: italic;
    list-style: none;
    color: #333;
    letter-spacing: .5px;
    padding-left: 1rem;
}

a {
    font-size: 1rem;
    font-family: trasandina, sans-serif;
    font-weight: 300;
    font-style: italic;
    list-style: none;
    color: #868686;
    letter-spacing: .5px;
    padding-left: 1rem;
}

/***************font slut*************/

/***************Forside*************/

#gruppe {
    padding: 1rem;
    flex-grow: 1;
    flex-basis: 500px;
    background-color: #fff0e6;
}

/**************Analyset*************/

#analyse .sectionweapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0.5;
    background-color: #fff8e7;

}

#analyse .col_analyse {
    flex-direction: row;
    padding: 1rem;
    flex-grow: 1;
    flex-basis: 500px;
}

#analyse .col {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: 500px;
}

/***************Foto*************/
#masonry {
    column-count: 4;
    column-gap: 1em;
    margin: 1.5em;
    padding: 0;
}

.item {
    display: inline-block;
    background: #fff;
    padding: 1em;
    margin: 0 0 1.5em;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 2px 2px 4px 0 #ccc;
}
